<!doctype html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="~/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/Content/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/Content/vendor/linearicons/style.css">
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/main.css">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Upload/images/Logo/logo-tdtu.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @RenderSection("_Header", false)

</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="/Admin">
                    <img src="https://elab.tdtu.edu.vn/pluginfile.php/1/theme_moove/logo/1697513026/Brand-left-vi-1_0_0.png"
                         alt="Logo" class="img-responsive logo">
                </a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth">
                        <i class="fa fa-bars icon"></i>
                    </button>
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Upload/images/Avata/Avata.jpg"
                                     class="img-circle" alt="Avatar"> <span>@Session["Name"]</span> <i class="icon-submenu lnr lnr-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/quan-ly/quan-tri-vien/chi-tiet?id=@Session["UID"]"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                                <li><a href="/quan-ly/quan-tri-vien/doi-mat-khau/@Session["UID"]"><i class="lnr lnr-cog"></i> <span>Đổi mật khẩu</span></a></li>
                                <li><a href="@Url.Action("Logout", "LoginAdmin")"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="/quan-ly" id="nav-home" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                        <li><a href="/quan-ly/tin-tuc" id="nav-news" class=""><i class="lnr lnr-star"></i>Tin tức</a></li>
                        <li><a href="/quan-ly/thong-bao" id="nav-notifi" class=""><i class="lnr lnr-alarm"></i>Thông báo</a></li>
                        <li><a href="/quan-ly/cuu-sinh-vien" id="nav-alumnis" class=""><i class="lnr lnr-graduation-hat"></i>Cựu sinh viên</a></li>
                        <li><a href="/quan-ly/quan-tri-vien" id="nav-admins" class=""><i class="lnr lnr-users"></i>Quản trị viên</a></li>
                        <li><a href="/quan-ly/doanh-nghiep" id="nav-enterprise" class=""><i class="lnr lnr-apartment"></i>Doanh nghiệp</a></li>
                        <li><a href="/quan-ly/tin-tuyen-dung" id="nav-recruitment" class=""><i class="lnr lnr-laptop"></i>Tin tuyển dụng</a></li>
                        <li><a href="/quan-ly/khoa-hoc" id="nav-graduations" class=""><i class="lnr lnr-book"></i>Khóa học</a></li>
                        <li>
                            <a href="#subPages" data-toggle="collapse" id="nav-subpage" class="collapsed">
                                <i class="lnr lnr-cog"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left "></i>
                            </a>
                            <div id="subPages" class="collapse ">
                                <ul class="nav" style="background-color: white">
                                    <li><a href="@Url.Action("Index","Menus")" id="nav-menus" class=""><i class="lnr lnr-menu-circle"></i> <span>Menu</span></a></li>
                                    <li><a href="@Url.Action("Index","Headers")" id="nav-headers" class=""><i class="lnr lnr-flag"></i> <span>Header</span></a></li>
                                    <li><a href="@Url.Action("Index","Banners")" id="nav-banners" class=""><i class="lnr lnr-picture"></i> <span>Banner</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="https://linearicons.com/free" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- END MAIN CONTENT -->
            </div>
            <!-- END MAIN -->
            <div class="clearfix"></div>
        </div>
    </div>


</body>

</html>
<script src="~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Areas/Admin/Content/scripts/main.js"></script>
@RenderSection("_Footer", false);
<style>
    td {
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>
