@model IEnumerable<TDTU_IT_alumni_management_system.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa <span id="delete-news-title"></span> không?</p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "News", FormMethod.Post, new { id = "deleteForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("Id", null, new { id = "newsId" })
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                }
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h2>Quản lý tin tức</h2>
        <p>
            <a href="@Url.Action("Create")" class="btn btn-primary">
                Thêm
                <span class="lnr lnr-file-add"></span>
            </a>
        </p>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>
                            Hình ảnh
                        </th>
                        <th>
                            Tiêu đề
                        </th>
                        <th>
                            Mô tả
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.meta)
                        </th>
                        <th>
                            Ngày đăng
                        </th>
                        <th>
                            Trạng thái
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr class="odd gradeX">
                            <td>
                                <img src="~/Upload/images/News/@Html.DisplayFor(modelItem => item.ImgNews)" style="width : 150px ; height:90px" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.meta)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.datebegin)
                            </td>
                            <td style="background-color: @((bool)item.hide ? "lightgreen" : "lightcoral")">
                                @{
                                    if ((bool)item.hide)
                                    {
                                        @Html.Raw("Hiện")
                                    }
                                    else
                                    {
                                        @Html.Raw("Ẩn")
                                    }
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", new {id = item.IDNews})" class="btn btn-primary">
                                    <span class="lnr lnr-pencil"></span>
                                </a>
                                <a href="@Url.Action("Details", new {id = item.IDNews})" class="btn btn-info">
                                    <span class="lnr lnr-layers"></span>
                                </a>
                                <a href="#" class="btn btn-danger delete-btn" data-id="@item.IDNews">
                                    <span class="lnr lnr-trash"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

@section _Footer
{
    <script>
        $(document).ready(function () {
            $('.delete-btn').click(function (e) {
                e.preventDefault();
                var newsId = $(this).data('id');
                var newsTitle = $(this).closest('tr').find('td:eq(1)').text();
                $('#newsId').val(newsId);
                $('#delete-news-title').text(newsTitle); // Đặt giá trị cho span có id "delete-news-title"
                $('#confirmDeleteModal').modal('show');
            });

            // Tự động chạy hàm active khi trang được tải
        });
        window.onload = active();
        function active() {
            if (document.getElementById("nav-news").className == "") {
                document.getElementById("nav-news").className = "active";
            }
        };

    </script>

}


