@model TDTU_IT_alumni_management_system.Models.Alumnus

@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/Mylayout.cshtml";
}

<div class="container mt-4 mb-5" style="margin-left:15%; width:70%">
    <div class="row bg-white border rounded position-relative shadow-lg">
        <!-- Profile picture + name -->
        <div class="col-md-3 col-sm-3 col-lg-3 profile-section" style="background-color: #ea5257;">
            <div class="profile-picture text-center mt-5">
                <img src="~/Upload/images/Avata/@Model.ProfilePicture" alt="Profile Picture" class="rounded-circle" height="100px" width="auto">
            </div>
            <div class="profile-info text-white text-center align-items-center mt-3">
                <h2 class="text-break">@Model.Name</h2>
                <h3 class="text-break">@Model.Profession</h3>
            </div>
            <div class="d-flex justify-content-center mt-4 mb-4">
                <a href="/thong-tin-ca-nhan/chinh-sua/@Model.IDAlumni" class="btn btn-primary">
                    Chỉnh sửa
                </a>
            </div>
        </div>

        <!-- profile details -->
        <div class="col profile-details" style="margin-left:4%">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12 mt-4 mb-5">
                        <div class="header-info">
                            <h1 class="text-center">@Model.Name</h1>
                            <p class="text-center">@Model.Email | @Model.Phone</p>
                        </div>
                        <div class="section">
                            <h2>Thông tin cá nhân</h2>
                            <p><strong>Ngày sinh:</strong> @Model.Birthday.ToString("dd/MM/yyyy")</p>
                            <p><strong>Giới tính:</strong> @Model.Gender</p>
                            <p><strong>Quốc tịch:</strong> @Model.Nationality</p>
                            <p><strong>Quê quán:</strong> @Model.HomeTown</p>
                            <p><strong>Website cá nhân:</strong> <a href="@Model.PersonalWebsite">@Model.PersonalWebsite</a></p>
                        </div>
                        <div class="section">
                            <h2>Học vấn</h2>
                            <p><strong>@Model.GraduationType</strong> - @Model.AcademicLevel</p>
                            <p>@Model.GraduationInfo.Majors</p>
                            <p>@(Model.GraduationInfo.GraduationYear - 4) - @Model.GraduationInfo.GraduationYear</p>
                        </div>
                        <div class="section">
                            <h2>Kinh nghiệm</h2>
                            <p><strong>@Model.CurrentCompany</strong></p>
                            <p>@Model.Profession</p>
                            <p>Từ: @Model.jobBeginDate.Value.ToString("dd/MM/yyyy") - Hiện tại</p>
                        </div>
                        <div class="section">
                            <h2>Kỹ năng</h2>
                            <ul>
                                @foreach (var skill in Model.skill.Split(','))
                                {
                                    <li>@skill.Trim()</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Profile section end -->
