@model TDTU_IT_alumni_management_system.Models.Enterprise

@{
    ViewBag.Title = "Chi tiết doanh nghiệp";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <h3>Thông tin doanh nghiệp</h3>
            <hr />
            <div class="col-md-3">
                <img src="~/Upload/images/Logo/@Model.ImgLogo" class="img-responsive" alt="Enterprise Logo">
            </div>
            <div class="col-md-9">

                <dl class="dl-horizontal">
                    <dt>Tên công ty: </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EnterpriseName)
                    </dd>

                    <dt>Địa chỉ: </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EnterpriseAddress)
                    </dd>

                    <dt>Số điện thoại:</dt>
                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Website):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Website)
                    </dd>

                    <dt>Đường dẫn:</dt>
                    <dd>
                        @Html.DisplayFor(model => model.meta)
                    </dd>

                    <dt>Trạng thái: </dt>
                    <dd>
                        @{
                            if ((bool)Model.hide)
                            {
                                @Html.Raw("Hiển thị")
                            }
                            else
                            {
                                @Html.Raw("Ẩn")
                            }
                        }
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.order):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.order)
                    </dd>

                    <dt>Ngày tạo:</dt>
                    <dd>
                        @Html.DisplayFor(model => model.datebegin)
                    </dd>

                </dl>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <a href="/quan-ly/doanh-nghiep/chinh-sua?id=@Model.IDEnterprise" class="btn btn-primary">
                    Chỉnh sửa
                </a>
                <div class="btn btn-secondary">
                    <a href="/quan-ly/doanh-nghiep">
                        Trở về
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = active();
    function active() {
        if (document.getElementById("nav-enterprise").className == "") {
            document.getElementById("nav-enterprise").className = "active";
        }
    }
</script>