@model TDTU_IT_alumni_management_system.Models.Header

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="panel panel-default">
    <div class="panel-body">
        <h2>Quản lý Header</h2>
        @using (Html.BeginForm("Edit", "Headers", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Header</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDHeader)

                <div class="form-group">
                    @Html.Label("Tiêu đề", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Logo", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-5">
                        @if (!string.IsNullOrEmpty(Model.ImgLogo))
                        {
                            <!-- Nếu có hình ảnh được tải lên trước đó, hiển thị nút chỉnh sửa hình ảnh -->
                            <button type="button" id="btnChangeImage" class="btn btn-default">Chỉnh sửa </button><br />
                            <input type="file" name="img" id="img" accept=".jpg,.png,.gif,.jpeg,.bmp" style="display: none;" />
                            <img id="imgPreview" src="~/Upload/images/Logo/@Model.ImgLogo" width="200px" />
                        }
                        else
                        {
                            <!-- Nếu không có hình ảnh được tải lên trước đó, hiển thị input file để tải lên hình ảnh mới -->
                            <input type="file" name="img" id="img" accept=".jpg,.png,.gif,.jpeg,.bmp" />
                        }
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <div class="btn btn-secondary">
                            @Html.ActionLink("Trở về", "Index")
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>

  <script>
      $(document).ready(function () {
          // Khi người dùng click vào nút chỉnh sửa hình ảnh
          $('#btnChangeImage').click(function () {
              // Hiển thị input file để người dùng có thể tải lên hình ảnh mới
              $('#img').show();
              // Ẩn nút chỉnh sửa hình ảnh
              $(this).hide();
              // Ẩn hình ảnh hiện tại
              $('#imgPreview').hide();
          });
      });
  </script>     