@model TDTU_IT_alumni_management_system.Models.RecruitmentNew

@{
    ViewBag.Title = "Chi tiết tin tuyển dụng";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <h2>Chi tiết tin tuyển dụng</h2>
        <h4>RecruitmentNew</h4>
        <hr />
        <div>
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.Label("Tiêu đề", htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-offset-1 col-md-11">
                        <h3 style="font-weight: bold; color: black;">
                            @Html.DisplayFor(model => model.Title)
                        </h3>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Mô tả", htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-offset-1 col-md-11">
                        @Html.DisplayFor(model => model.Describe)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Nội dung", htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-offset-1 col-md-11">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Công ty", htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-offset-1 col-md-11">
                        @Html.DisplayFor(model => model.Enterprise.EnterpriseName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Mô tả công việc", htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-offset-1 col-md-11">
                        @Html.DisplayFor(model => model.JobDescription)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Đường dẫn", htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-offset-1 col-md-11">
                        @Html.DisplayFor(model => model.meta)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Ngày đăng", htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-offset-1 col-md-11">
                        @Html.DisplayFor(model => model.datebegin)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Trạng thái", htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-offset-1 col-md-11">
                        @{
                            if ((bool)Model.hide)
                            {
                                @Html.Raw("Hiển thị")
                            }
                            else
                            {
                                @Html.Raw("Ẩn")
                            }
                        }
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Vị trí", htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-offset-1 col-md-11">
                        @Html.DisplayFor(model => model.order)
                    </div>
                </div>
                <hr />

                <div class="form-group">
                    <div class="col-md-offset-0 col-md-10">
                        <a href="/quan-ly/tin-tuyen-dung/chinh-sua?id=@Model.IDRecruitmentNew" class="btn btn-primary">
                            Chỉnh sửa
                        </a>
                        <div class="btn btn-secondary">
                            <a href="/quan-ly/tin-tuyen-dung">
                                Trở về
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = active();
    function active() {
        if (document.getElementById("nav-recruitment").className == "") {
            document.getElementById("nav-recruitment").className = "active";
        }
    }
</script>