@model TDTU_IT_alumni_management_system.Models.Alumnus

@{
    ViewBag.Title = "Sửa cựu sinh viên";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
    var graduationInfoList = ViewBag.GraduationInfoList as List<TDTU_IT_alumni_management_system.Models.GraduationInfo>;

}
<div class="panel panel-default">
    <div class="panel-body">
        <h2>Sửa cựu sinh viên</h2>
        <h4>Alumnus</h4>
        <hr />
        @using (Html.BeginForm("Edit", "Alumni", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDAlumni)
                @Html.HiddenFor(model => model.Password)
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.Label("Họ tên", htmlAttributes: new { @class = " col-md-11" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập họ và tên", @required = true, @maxlength = "250" } })
                            <div id="wordCountTitle" class="text-danger"></div>
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Số điện thoại", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Nhập số điện thoại", @pattern = "[0-9]{0,10}", @title = "Vui lòng nhập số điện thoại (tối đa 10 chữ số)" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.Label("Email", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập Email", @type = "email", @required = true } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Quê quán", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.HomeTown, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập quê quán", @required = true } })
                            @Html.ValidationMessageFor(model => model.HomeTown, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.Label("Ngày sinh", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            <input type="date" class="form-control" id="Birthday" name="Birthday" value="@Model.Birthday.ToString("yyyy-MM-dd")" required="required" />
                            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Giới tính", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            <select class="form-control" id="Gender" name="Gender">
                                <option value="Nam" selected>Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.Label("Ảnh đại diện", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @if (!string.IsNullOrEmpty(Model.ProfilePicture))
                            {
                                <button type="button" id="btnChangeImage" class="btn btn-default">Chỉnh sửa </button>
                                <input type="file" name="img" id="img" accept=".jpg,.png,.gif,.jpeg,.bmp" style="display: none;" />
                                <img id="imgPreview" src="~/Upload/images/Avata/@Model.ProfilePicture" alt="Avatar" style=" margin:2%; border-radius: 50%; width: 100px; height: 100px; object-fit: cover; ">
                            }
                            else
                            {
                            <input type="file" name="img" id="img" accept=".jpg,.png,.gif,.jpeg,.bmp" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Quốc tịch", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập quốc tịch", @required = true } })
                            @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        @Html.Label("Kỹ năng", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.skill, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập kỹ năng", @required = true } })
                            @Html.ValidationMessageFor(model => model.skill, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Trang web cá nhân", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.PersonalWebsite, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập trang web" } })
                            @Html.ValidationMessageFor(model => model.PersonalWebsite, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.Label("Ngành học", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @{
                                var dropdownItems = graduationInfoList.Select(info => new SelectListItem
                                {
                                    Text = $"{info.Majors} - {info.GraduationYear}",
                                    Value = info.ID.ToString()
                                });
                            }
                            @Html.DropDownListFor(model => model.GraduationInfoID, dropdownItems, "Chọn", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GraduationInfoID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Tốt nghiệp loại", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            <select class="form-control" id="GraduationType" name="GraduationType">
                                <option value="Xuất sắc">Xuất sắc</option>
                                <option value="Tốt">Tốt</option>
                                <option value="Khá">Khá</option>
                                <option value="Trung bình">Trung bình</option>
                                <option value="Yếu">Yếu</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.GraduationType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.Label("Trình độ", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            <select class="form-control" id="AcademicLevel" name="AcademicLevel">
                                <option value="Cử nhân" selected>Cử nhân</option>
                                <option value="Thạc sĩ">Thạc sĩ</option>
                                <option value="Tiến sĩ">Tiến sĩ</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.AcademicLevel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Công ty hiện tại", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.CurrentCompany, new { htmlAttributes = new { @class = "form-control", @required = true } })
                            @Html.ValidationMessageFor(model => model.CurrentCompany, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.Label("Công việc ", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Profession, new { htmlAttributes = new { @class = "form-control", @required = true } })
                            @Html.ValidationMessageFor(model => model.Profession, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Làm việc từ", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            <input type="date" class="form-control" id="jobBeginDate" name="jobBeginDate" value="@Model.jobBeginDate.Value.ToString("yyyy-MM-dd")" required="required" />
                            @Html.ValidationMessageFor(model => model.jobBeginDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.Label("Hiển thị", htmlAttributes: new { @class = "col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @{
                                    bool hide = true;
                                }
                                @Html.CheckBoxFor(model => hide, new { style = "margin: -1px 5px" })
                                @Html.ValidationMessageFor(model => model.hide, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-0 col-md-10">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                        <div class="btn btn-secondary">
                            <a href="/quan-ly/cuu-sinh-vien">
                                Trở về
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        // Khi người dùng click vào nút chỉnh sửa hình ảnh
        $('#btnChangeImage').click(function () {
            // Hiển thị input file để người dùng có thể tải lên hình ảnh mới
            $('#img').show();
            // Ẩn nút chỉnh sửa hình ảnh
            $(this).hide();
            // Ẩn hình ảnh hiện tại
            $('#imgPreview').hide();
        });
    });
    window.onload = active();
    function active() {
        if (document.getElementById("nav-alumnis").className == "") {
            document.getElementById("nav-alumnis").className = "active";
        }
    };
</script>

